#login.big
  .notice Register
  .inner
    = semantic_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f|
      = devise_error_messages!
      = f.input :name
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = f.commit_button "Register"
  .links
    = render :partial => "devise/shared/links"
