#login
  .notice Resend unlock instructions
  .inner
    = semantic_form_for resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post } do |f|
      = devise_error_messages!
      = f.input :email
      = f.commit_button "Resend unlock instructions"
  .links
    = render :partial => "devise/shared/links"
