.notice= flash[:alert]
= semantic_form_for resource, :as => resource_name, :url => session_path(resource_name) do |f|
  = f.input :name
  = f.input :password
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean
  = f.commit_button :label => "Login"
 
.links.lock
  = link_to "Lost password?", new_password_path(resource_name)
    
