!!! XML
!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml")

  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    %link(rel="icon" href="./favicon.ico" type="image/x-icon")
    %link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
    %title RHost
    = stylesheet_link_tag 'rhost'
    = javascript_include_tag :all
    = csrf_meta_tag

  %body
    #header
      .logo= link_to image_tag("top/top_left.jpg", :alt => ""), root_url
      .center &nbsp;
      .logo.image= image_tag "top/top_right.jpg", :alt => ""

    #container
      #sidebar
        .menu
          %ul
            %li.header General information
            %li Overview
            %li Change password
            %li Change personal data
            %li Language
            %li Server status
            %li Admin log
            %li.logout Logout

      #page
        .menu
          %ul
            %li General information
            %li Manage users
            %li Manage hosting plans
            %li System tools
            %li Statistics
            %li Support system
            %li Settings

          .logo.image= image_tag "top/middle_right.jpg", :alt => ""

        .content
          = yield
